@charset "utf-8";
/* ----------------------------------------------------------------------------	*/
/* default styling */
.nav,
.nav ul{list-style:none; margin:0; padding:0; text-align:center;}
.nav a {text-decoration:none;border:none;}
.nav {font-size:14px; font-weight:normal; width:950px; margin:0 auto;}

/* style the links */
/* needs a background for IE6 - can be a color or a transparent gif */
.nav a {background:none; height:35px; line-height:35px; color:#444; text-shadow:1px 1px 0 #FFF;
		/*-o-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
		-icab-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
		-khtml-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
		-moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
		-webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
		box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);*/
} 
.nav ul a {background:#DBDBDB; height:35px; line-height:35px;} 

.nav .fly .main {background:none;}
.nav .down {background:none;}
.nav .right ul a {text-align:right;}
.nav .right ul .main {background:none; text-align:right;}

/* HEIGHT */
.nav ul {top:-35px;}

.nav ul ul {top:-70px;} /* position the top of the flyout sub menus */

/* WIDTH change this WITH CARE to suit your requirements */

/*set the link width here*/
.nav .drop {width:155px;}
.nav a {width:135px; padding:0 10px;}
.nav ul li {max-width:155px;} /* fix for IE8 */

/* set the left flyout position here */
.nav ul ul {left:155px;}
/* set the right flyout position here */
.nav li.right ul ul {left:auto; right:155px;}

/* make this WIDTH - 1px */ /* or WIDTH - 0.063em if using em sizing */
.nav a {margin-right:-154px;}

/* ----------------------------------------------------------------------------	*/

/* DO NOT CHANGE ANYTHING BELOW */
.nav li {float:left;} /* fixes IE related bugs, and allows for clearing */
.nav ul {float:left; position:relative; z-index:20;} /* necessary for float drop and to stack the <ul>s */
.nav ul li {clear:left;} /* must clear the floated list item inside sublist */
.nav a {position:relative; display:block;} /* needs to have a position above the rest */
.nav a.main {float:left; /* necessary for float drop */
    margin-top:10000px;} /* bring the top level links back into view */
.nav .drop,
.nav .fly {margin-top:-10000px;} /* hide the sub links and their containers, opera has low upper limits */
.nav ul {margin-bottom:-5000px;} /* avoid any interaction between the subs, can be any large size */

/* The bit that does ALL the work to bring the sub menus into view */
.nav a:hover,
.nav a:focus,
.nav a:active {margin-right:0; z-index:10; outline:0; background-position:left -35px; color:#F60; text-shadow:0 1px 0 #FFF; text-decoration:none;}

.nav li li a:hover, 
.nav li li a:focus, 
.nav li li a:active 
{background:#DBDBDB; color:#F60; text-shadow:0px 1px 0px #FFF;}

/* OPERA fix */
.nav ul:hover,
.nav ul ul:hover {clear:left;} /* to stop intermittent sub link :hover problems */

/* IE6 and 7 fixes */
.nav .fly {width:100%;}
a:active {}

/* ----------------------------------------------------------------------------	*/
/* overlays for menu trail */
.nav a.top {color:#666; background:none; text-align:center; text-shadow:0px 1px 0px #fff; height:36px;}

.nav a.top:hover,
.nav a.top:focus,
.nav a.top:active
{color:#F60; background:none; text-align:center; height:36px;}

.nav a.sub {color:#666; background: #DBDBDB; position:relative; left:-130px; top:35px; text-shadow:0px 1px 0px #fff;}
.nav a.sub:hover,
.nav a.sub:focus,
.nav a.sub:active
{background: #DBDBDB;}

.nav .right a.top {text-align:center;}
.nav .right a.sub {left:130px; background: #DBDBDB; color:#000; text-shadow:1px 1px 0px #fff;}
.nav .right a.sub:hover {background: #DBDBDB;}
